html, body {
    background-color: var(--prime);
    color: var(--contrast);
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "list content"
        "footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
    height: 100vh;
}

#header {
    grid-area: header;
}
#list {
    grid-area: list;
}
#content {
    grid-area: content;
}
#footer {
    grid-area: footer;
}

.btn {
    cursor: pointer;
}

#list-label {
    font-size: 64px;
}